<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>710026785801-bd5tb7iff2a81ukqo6og0btkr4u610h0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.710026785801-bd5tb7iff2a81ukqo6og0btkr4u610h0</string>
	<key>API_KEY</key>
	<string>AIzaSyBjNW8cqIMN1nmcX_DDS1ntUp630yXfVgY</string>
	<key>GCM_SENDER_ID</key>
	<string>710026785801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>taskapp-ee8c9</string>
	<key>STORAGE_BUCKET</key>
	<string>taskapp-ee8c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710026785801:ios:0ef18fb8b93c386ab6f4d8</string>
</dict>
</plist>